@charset "utf-8";

* {
    box-sizing: border-box;
  }
  
  html {
    font-family: "Lucida Sans", sans-serif;
  }
  
  header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
  }
  
  .row aside:first-child nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .row aside:first-child nav a {
    display: block;
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .row aside:first-child nav a:hover {
    background-color: #0099cc;
  }
  
  main + aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  }

  [class*="col-"] {
    width: 100%;
    padding: 15px;
  }