@charset "utf-8";

body{ margin: 0px; }

header,
nav,
aside,
main,
footer{
	height: 100px;
	background: green;
}

header{
	padding: 10px;
}

nav{
	display: none;
	background: blue;
}
main{ background: red; }

aside{ display: none; }